* {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.rick-morty {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #f00;
  padding: 20px;
}

.red-title {
  background-color: #f00;
  color: #fff;
  text-align: center;
}